Repository acmcsufoss/api.acmcsuf.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thejolman, @sidvasu, @GaballaGit

.github/CODEOWNERS:

*              @thejolman @sidvasu  # current team leads

*.nix          @thejolman
/.github/      @thejolman

*.sql          @sidvasu
/internal/db/  @sidvasu

/internal/cli/ @GaballaGit
/utils/        @GaballaGit

rm comments
  cmd/acmcsuf-api/main.go
Owners: @thejolman, @sidvasu

add comments
  cmd/acmcsuf-api/main.go
  internal/api/routes/routes.go
Owners: @thejolman, @sidvasu

move stuff around
  internal/api/handlers/swagger_handler.go
  internal/api/routes/routes.go
  internal/api/server.go
Owners: @thejolman, @sidvasu

move stuff out of main
  cmd/acmcsuf-api/main.go
  internal/api/server.go
Owners: @thejolman, @sidvasu

comment
  internal/api/server.go
Owners: @thejolman, @sidvasu

rename stuff
  internal/api/handlers/announcement.go
  internal/api/handlers/event.go
  internal/api/handlers/swagger.go
  internal/api/routes.go
  internal/api/server.go
  internal/api/services/announcement.go
  internal/api/services/board.go
  internal/api/services/event.go
  internal/api/services/interfaces.go
Owners: @thejolman, @sidvasu

v1 routes
  internal/api/routes.go
  internal/api/routes/v1.go
  internal/api/server.go
Owners: @thejolman, @sidvasu

formatting and logger prefix
  cmd/acmcsuf-api/main.go
  internal/api/server.go
Owners: @thejolman, @sidvasu

add docs to main.go
  cmd/acmcsuf-api/main.go
Owners: @thejolman, @sidvasu

docs
  developer-docs/api-testing.md
  developer-docs/api-versioning.md
  developer-docs/project-structure.md
Owners: @thejolman, @sidvasu

resolve linter warning
  cmd/acmcsuf-api/main.go
  internal/api/server.go
Owners: @thejolman, @sidvasu

fix godoc preview action?
  .github/workflows/godoc_pr_preview.yaml
Owners: @thejolman

update
  .github/workflows/godoc_pr_preview.yaml
Owners: @thejolman

fix type
  .github/workflows/godoc_pr_preview.yaml
Owners: @thejolman

more fixes
  .github/workflows/godoc_pr_preview.yaml
Owners: @thejolman

update .envrc
  .envrc
Owners: @thejolman, @sidvasu

refator environment variable loading
  .env.example
  .envrc
  .gitignore
  nix/shell.nix
Owners: @thejolman, @sidvasu

add `layout go` to .envrc
  .envrc
Owners: @thejolman, @sidvasu

only install if they already have nix
  .envrc
Owners: @thejolman, @sidvasu

readme tweaks
  README.md
  developer-docs/project-structure.md
Owners: @thejolman, @sidvasu

rerog sql file
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Building board service
  internal/api/services/board_service.go
Owners: @thejolman, @sidvasu

compiles
  cmd/acmcsuf-api/main.go
  internal/api/handlers/board_handler.go
  internal/api/routes/routes.go
  internal/api/services/board_service.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Rebase and fixed CreatePosition
  internal/api/handlers/board_handler.go
  internal/api/services/board_service.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Resolved GetPosition error
  internal/api/services/board_service.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Working on GetPosition
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Building board service
  internal/api/services/board_service.go
Owners: @thejolman, @sidvasu

Started board handler and routes
  internal/api/handlers/board_handler.go
  internal/api/routes/routes.go
  internal/api/services/board_service.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Fixed CREATE endpoint errors
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Switched to singular nouns
  internal/db/models/board.sql.go
Owners: @sidvasu

Added note
  internal/db/sql/queries/board.sql
Owners: @sidvasu

use new interface
  internal/api/services/board_service.go
Owners: @thejolman, @sidvasu

add other stuff
  internal/api/handlers/board_handler.go
  internal/api/services/board_service.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

rename
  internal/api/handlers/board.go
  internal/api/services/board.go
Owners: @thejolman, @sidvasu

update handler
  internal/api/handlers/board.go
Owners: @thejolman, @sidvasu

rename stuff
  .github/workflows/godoc.yaml
Owners: @thejolman

refactor: API Verioning and Code Organization (#95)
  cmd/acmcsuf-api/main.go
  docs/swagger.json
  docs/swagger.yaml
  internal/api/handlers/announcement.go
  internal/api/handlers/event.go
  internal/api/handlers/swagger.go
  internal/api/routes/routes.go
  internal/api/routes/v1.go
  internal/api/server.go
  internal/api/services/announcement.go
  internal/api/services/board.go
  internal/api/services/event.go
  internal/api/services/interfaces.go
Owners: @thejolman, @sidvasu

fix: Godoc PR Preview action (#96)
  .github/workflows/godoc.yaml
Owners: @thejolman

Update environment variable loading to be more friendly (#97)
  .env.example
  .envrc
  .gitignore
  nix/shell.nix
Owners: @thejolman, @sidvasu

Building board service
  internal/api/services/board.go
Owners: @thejolman, @sidvasu
