Repository acmcsufoss/api.acmcsuf.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thejolman, @sidvasu, @GaballaGit

Added note
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Rebase and fixed CreatePosition
  internal/api/handlers/board_handler.go
  internal/api/services/board.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Fixed CREATE endpoint errors
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Building board service
  internal/api/services/board.go
Owners: @thejolman, @sidvasu

Switched to singular nouns
  internal/db/models/board.sql.go
Owners: @sidvasu

Working on GetPosition
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Resolved GetPosition error
  internal/api/services/board.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Started board handler and routes
  internal/api/handlers/board_handler.go
  internal/api/routes/v1.go
  internal/api/services/board.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

use new interface
  internal/api/services/board.go
Owners: @thejolman, @sidvasu

add other stuff
  internal/api/handlers/board_handler.go
  internal/api/services/board.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

compiles
  internal/api/handlers/board_handler.go
  internal/api/services/board.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

rerog sql file
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

rename
  internal/api/handlers/board.go
Owners: @thejolman, @sidvasu

wip
  internal/db/sql/queries/board.sql
Owners: @sidvasu

restore deleted sql code
  internal/db/sql/queries/board.sql
Owners: @sidvasu

update handler
  internal/api/handlers/board.go
Owners: @thejolman, @sidvasu

fix sqlc issue
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

update server.go
  internal/api/server.go
Owners: @thejolman, @sidvasu

update routes
  internal/api/routes/v1.go
Owners: @thejolman, @sidvasu

tweaks
  internal/api/handlers/board.go
  internal/api/routes/v1.go
  internal/api/services/board.go
Owners: @thejolman, @sidvasu

init missing routes/handlers
  internal/api/handlers/board.go
  internal/api/routes/v1.go
Owners: @thejolman, @sidvasu

CLI fix + api testing update ٩(^ᗜ^ )و ´-
  developer-docs/api-testing.md
  internal/cli/announcements/delete.go
  internal/cli/announcements/get.go
  internal/cli/announcements/post.go
  internal/cli/announcements/put.go
  internal/cli/events/delete.go
  internal/cli/events/get.go
  internal/cli/events/post.go
  internal/cli/events/put.go
Owners: @thejolman, @sidvasu, @GaballaGit

CLI fix + api testing update ٩(^ᗜ^ )و ´- (#102)
  developer-docs/api-testing.md
  internal/cli/announcements/delete.go
  internal/cli/announcements/get.go
  internal/cli/announcements/post.go
  internal/cli/announcements/put.go
  internal/cli/events/delete.go
  internal/cli/events/get.go
  internal/cli/events/post.go
  internal/cli/events/put.go
Owners: @thejolman, @sidvasu, @GaballaGit

edit to api-testing /swagger -> /v1/swagger
  developer-docs/api-testing.md
Owners: @thejolman, @sidvasu

restucture routes
  internal/api/routes/v1.go
Owners: @thejolman, @sidvasu

re-org routes
  internal/api/routes/root.go
  internal/api/routes/v1.go
  internal/api/server.go
Owners: @thejolman, @sidvasu

adj docs
  developer-docs/api-testing.md
Owners: @thejolman, @sidvasu

regen go docs
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  nix/shell.nix
Owners: @thejolman, @sidvasu

add go generate comment
  cmd/acmcsuf-api/main.go
Owners: @thejolman, @sidvasu

add v1 prefixes in swagger docs
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/api/handlers/announcement.go
  internal/api/handlers/event.go
Owners: @thejolman, @sidvasu

embed md file
  utils/api_description.md
  utils/swagger_helper.go
Owners: @GaballaGit

rm SwaggerInfo.BasePath
  internal/api/handlers/swagger.go
Owners: @thejolman, @sidvasu

update make generate target
  Makefile
Owners: @thejolman, @sidvasu

Adjust swagger docs (#104)
  Makefile
  cmd/acmcsuf-api/main.go
  developer-docs/api-testing.md
  docs/docs.go
  docs/swagger.json
  docs/swagger.yaml
  internal/api/handlers/announcement.go
  internal/api/handlers/event.go
  internal/api/handlers/swagger.go
  internal/api/routes/root.go
  internal/api/routes/v1.go
  internal/api/server.go
  nix/shell.nix
  utils/api_description.md
  utils/swagger_helper.go
Owners: @thejolman, @sidvasu, @GaballaGit

add project structure doc
  developer-docs/project-structure.md
Owners: @thejolman, @sidvasu

add api versioning doc
  developer-docs/api-versioning.md
Owners: @thejolman, @sidvasu

Initial workings for discord oauth
  .env.example
  go.mod
  go.sum
  internal/api/handlers/discordoauth.go
  internal/api/routes/v1.go
  internal/api/server.go
  internal/api/services/discordoauth.go
  internal/discord_oauth.yaml
Owners: @thejolman, @sidvasu

improve docs (fr) (#99)
  developer-docs/api-versioning.md
  developer-docs/project-structure.md
Owners: @thejolman, @sidvasu

.github/CODEOWNERS:

*              @thejolman @sidvasu  # current team leads

*.nix          @thejolman
/.github/      @thejolman

*.sql          @sidvasu
/internal/db/  @sidvasu

/internal/cli/ @GaballaGit
/utils/        @GaballaGit
