Repository acmcsufoss/api.acmcsuf.com, changes with the owners that .github/CODEOWNERS names for each.
All owners: @thejolman, @sidvasu, @GaballaGit

update name that cli prints
  cmd/acmcsuf-cli/main.go
Owners: @thejolman, @sidvasu

rm redundant comment
  cmd/acmcsuf-cli/main.go
Owners: @thejolman, @sidvasu

rename binaries
  .air.toml
  Makefile
  cmd/acmcsuf-api/main.go
  cmd/acmcsuf-cli/main.go
  flake.nix
  nix/package.nix
Owners: @thejolman, @sidvasu

rename apps in nix flake
  flake.nix
Owners: @thejolman

use vars in `go build`
  Makefile
Owners: @thejolman, @sidvasu

fix output dir in air command
  .air.toml
Owners: @thejolman, @sidvasu

fix bug in air config
  .air.toml
Owners: @thejolman, @sidvasu

swagger-cli documentation
  cmd/api/main.go
  utils/swagger_helper.go
Owners: @thejolman, @sidvasu, @GaballaGit

update name
  utils/swagger_helper.go
Owners: @GaballaGit

swagger-cli documentation (#87)
  cmd/api/main.go
  utils/swagger_helper.go
Owners: @thejolman, @sidvasu, @GaballaGit

rename apps in nix flake
  flake.nix
Owners: @thejolman

fix bug in air config
  .air.toml
Owners: @thejolman, @sidvasu

use vars in `go build`
  Makefile
Owners: @thejolman, @sidvasu

rename binaries
  .air.toml
  Makefile
  cmd/acmcsuf-api/main.go
  cmd/acmcsuf-cli/main.go
  flake.nix
  nix/package.nix
Owners: @thejolman, @sidvasu

update name that cli prints
  cmd/acmcsuf-cli/main.go
Owners: @thejolman, @sidvasu

rm redundant comment
  cmd/acmcsuf-cli/main.go
Owners: @thejolman, @sidvasu

fix output dir in air command
  .air.toml
Owners: @thejolman, @sidvasu

apply copilot suggestions
  .air.toml
  Makefile
Owners: @thejolman, @sidvasu

swap nilaway for staticcheck
  Makefile
  nix/shell.nix
Owners: @thejolman, @sidvasu

fix staticcheck issues
  internal/db/db.go
Owners: @sidvasu

separate vet and staticcheck
  Makefile
Owners: @thejolman, @sidvasu

update CI
  .github/workflows/ci.yml
Owners: @thejolman

Building board service
  internal/api/services/board_service.go
Owners: @thejolman, @sidvasu

Building board service
  internal/api/services/board_service.go
Owners: @thejolman, @sidvasu

Fixed CREATE endpoint errors
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Switched to singular nouns
  internal/db/models/board.sql.go
Owners: @sidvasu

Rebase and fixed CreatePosition
  internal/api/handlers/board_handler.go
  internal/api/services/board_service.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Started board handler and routes
  internal/api/handlers/board_handler.go
  internal/api/routes/routes.go
  internal/api/services/board_service.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

rerog sql file
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Added note
  internal/db/sql/queries/board.sql
Owners: @sidvasu

Resolved GetPosition error
  internal/api/services/board_service.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

Working on GetPosition
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @sidvasu

compiles
  cmd/api/main.go
  internal/api/handlers/board_handler.go
  internal/api/routes/routes.go
  internal/api/services/board_service.go
  internal/db/models/board.sql.go
  internal/db/sql/queries/board.sql
Owners: @thejolman, @sidvasu

rename binaries (#90)
  .air.toml
  .github/workflows/ci.yml
  Makefile
  cmd/acmcsuf-api/main.go
  cmd/acmcsuf-cli/main.go
  flake.nix
  internal/db/db.go
  nix/package.nix
  nix/shell.nix
Owners: @thejolman, @sidvasu

adjust output text
  cmd/acmcsuf-api/main.go
Owners: @thejolman, @sidvasu

green!
  cmd/acmcsuf-api/main.go
Owners: @thejolman, @sidvasu

Tweak server output text (#91)
  cmd/acmcsuf-api/main.go
Owners: @thejolman, @sidvasu

add v1 group
  internal/api/routes/routes.go
Owners: @thejolman, @sidvasu

update swag
  docs/swagger.json
  docs/swagger.yaml
Owners: @thejolman, @sidvasu

move swagger stuff
  cmd/acmcsuf-api/main.go
  internal/api/routes/routes.go
  internal/api/swagger.go
Owners: @thejolman, @sidvasu

.github/CODEOWNERS:

*              @thejolman @sidvasu  # current team leads

*.nix          @thejolman
/.github/      @thejolman

*.sql          @sidvasu
/internal/db/  @sidvasu

/internal/cli/ @GaballaGit
/utils/        @GaballaGit
